*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background: none;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
[role='button'] {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

hr {
  margin-top: var(--sp-16);
  margin-bottom: var(--sp-16);
  border: 0;
  border-top: 1px solid var(--border);
}
