<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    @if (!isLoggedIn()) {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-signup" routerLink="/register" routerLinkActive="active">Sign up</a>
        </li>
      </ul>
    } @else {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active">
            <cdt-icon name="pen-line"></cdt-icon>&nbsp;New Post
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <cdt-icon name="settings"></cdt-icon>&nbsp;Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            data-testid="loggedin-user"
            class="nav-link nav-user"
            [routerLink]="['/profile', user().username]"
            routerLinkActive="active"
          >
            <cdt-avatar [src]="user().image" [username]="user().username" size="sm"></cdt-avatar>
            <span>{{ user().username }}</span>
          </a>
        </li>
      </ul>
    }
  </div>
</nav>
